<ion-view>
    <ion-nav-title><i class="icon ion-home"></i>
        Home
    </ion-nav-title>

<ion-content class="padding">
    <h4>Your latest reported issues</h4>

    <div><p> </p></div>


    <a ng-repeat="issue in issues | limitTo:3" class="item item-avatar" ui-sref="menu.issueDetails({issueId:issue.id})" ng-if="issues.length>=1" >
        <img src="{{issue.imageUrl}}">

        <h2>{{issue.issueType.name}}</h2>
        <p>{{issue.description}}</p>
    </a>

    <a class="item item-avatar" ui-sref="menu.issueDetails({issueId:issue.id})" ng-if="issues.length<1" >

        <p>You do not have any issues</p>
        <button class="button-small icon-left ion-plus-round button-positive"> Report new Issue</button>
    </a>
    <div><p> </p></div>
    <button class="button button-small button-assertive">
        View all
    </button>

    <div></div>
    <h4>Issues near you</h4>
</ion-content>
</ion-view>