<ion-view view-title="Issue List">
    <ion-content class="padding">
        <div class="list">


            <a ng-repeat="loadIssues in IssueListCtrl"
               class="item item-avatar" href="#">
                <img src="img/venkman.jpg">
                <h2>{{issue.issueType.name}}</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/venkman.jpg">
                <h2>{{issue.type}}</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>

        </div>
    </ion-content>
</ion-view>