<ion-view>
  <ion-nav-bar>
    <ion-nav-buttons side="secondary">
      <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <p>MAP</p>

  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
    <button class="button icon ion-plus pull-left" ui-sref="newIssue">Add issue</button>
    <button class="button icon ion-navicon pull-right" ui-sref="issueList">View all issues</button>
  </ion-footer-bar>
</ion-view>
