<ion-view>

    <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>Graffiti</ion-nav-title>
        <ion-nav-buttons side="secondary">
            <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="row">


                <ion-list ng-controller="issueDetails">
                    <ion-item ng-model="issue">

                        <div class="row">
            
                            <div class="col col-75 item-body listIssue">
                                <h2>{{issue.issueType.description}}<time>{{issue.createdOn| date:'MM/dd/yyyy - H:mm'}}</time></h2>
                                <ul class="tagsList">
                                    <li ng-repeat="tag in issue.tags">{{tag}}</li>
                                </ul>
                                <p>{{issue.description}}</p>
                                <p>Type: <time>{{issue.issueType.name}}</time></p>
                                <p>Last update: <time>{{issue.updatedOn| date:'MM/dd/yyyy - H:mm'}}</time></p>

                            </div>
                        </div>

                    </ion-item>
                </ion-list>

            </div>

        <div class="button-bar">
            <a class="button button-medium"  ui-sref="newComment({ issueId: issue.id })">Add a comment</a>
            <a class="button button-medium" ui-sref="commentsList">View comments</a> 
        </div>

    </ion-content>
</ion-view>
