<ion-view view-title="CITI - App for citizen engagement">
  <ion-header-bar class="bar-calm bar-subheader">
    <h1 class="title">Issues map</h1>
  </ion-header-bar>
  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
  </ion-nav-buttons>
 
  <ion-content scroll="false">
  	<label class="item item-input">
	  <input type="text" placeholder="Type the name of a location"  ng-model="query.location" ng-model-options='{ debounce: 500 }' ng-change="updateMap()">
	</label>

	<leaflet class="issues-map" height="50%" defaults="mapDefaults" center="mapCenter" markers="mapMarkers" height="100%" data-tap-disabled="true"></leaflet>
  </ion-content>

  
</ion-view>
