<ion-view>
     <ion-header-bar class="bar bar-header">
       <h1 class="title">Add a comment</h1>
       <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
     </ion-header-bar>
     <ion-content class="padding">
       <ion-list ng-controller="newComment">
         <label class="item item-input">
           <input type="text" placeholder="write your comment here" ng-model="someText" />
         </label>
         <button class="button button-full button-calm" ng-click="createComment(newComment)">Create</button>
       </ion-list>
     </ion-content>
</ion-view>
