<ion-modal-view>
     <ion-header-bar class="bar bar-header">
       <h1 class="title">Add a comment</h1>
       <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
     </ion-header-bar>
     <ion-content class="padding">
       <div class="list">
         <label class="item item-input">
           <textarea placeholder="Comments"></textarea>
         </label>
         <button class="button button-full button-calm" ng-click="createComment(newComment)">Create</button>
       </div>
     </ion-content>
</ion-modal-view>
