<ion-view view-title="Create new Issue">

    <ion-content>
        <form name="createIssue">
            <label for="type">Issue Type:</label>
            <select name="type" id="repeatSelect" ng-model="issue.issueTypeId">
              <option ng-repeat="issueType in issueTypes" value="{{issueType.id}}">{{issueType.name}}</option>
            </select>
            <br /><br />
            <label for="description">description</label>
            <input name="description" ng-model="issue.description" />
            <br /><br />
            <label for="lng">Longitude</label>
            <input name="lng" placeholder="6.651479812689227" ng-model="issue.lng"/>
            <label for="lat">Latitude</label>
            <input name="lat" placeholder="46.77227088657382" ng-model="issue.lat"/>
            <br /><br />
            <label for="imageUrl">Image URL</label>
            <input name="imageUrl" placeholder="http://www.example.com/image.jpg" ng-model="issue.imageUrl"/>
            <button class="button button-energized" ng-click="sendIssue()" ng-disabled="createIssue.$invalid">
                Create issue !
            </button>
        </form>

    </ion-content>
</ion-view>
