  <ion-view view-title="New Issue">

      <ion-content>
        <div ng-controller="newIssueCtrl">

        <form ng-submit="submitIssue(issue)">
          <div class="list">
            <button class="button button-outline button-positive" ng-click="CameraService.getPicture()">
             Take picture
            </button>

            <label class="item item-input item-select">
            <div class="input-label">
              Type
            </div>

            <select  ng-model="issue.issueTypeId">
              <option ng-model="issue.id" ng-repeat='issueType in issueTypes' value="{{issueType.id}}">{{issueType.name}}</option>
            </select>

          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Description</span>
            <input type="text" placeholder="Description" ng-model="issue.description">
          </label>
        </div>
        <button type="submit" class="button button-outline button-balanced center">Create Issue</button>
      </form>
    </div>
      </ion-content>

        <!--
        <button class="button button-block button-positive" ng-controller="UserListCtrl" ng-click="loadUsers()"  >
            loadUsers
        </button>

        <button class="button button-block button-positive"  ng-controller="UserListCtrl" ng-click="loadIssueType()">
            loadIssueType
        </button>

            <button class="button button-block button-positive"  ng-controller="UserListCtrl" ng-click="loadIssues()">
                loadIssues
            </button>
          -->

  </ion-view>
