<br view-title="Role selection">
    <br>
        <h3 class="title">View app as </h3>
<div calss="row">
    <button class="col col-33 col-offset-33 button button-block button-calm" ui-sref="menu.home">
        Citizen
    </button>
    <p  class="col col-33 col-offset-33">coming soon:</p>
    <button class="col col-33 col-offset-33 button button-block button-positive">
        Staff
    </button>

    <button class="col col-33 col-offset-33 button button-outline button-calm" >
        Create a new Staff
    </button>

</div>





    </ion-content>
</ion-view>