/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "variables";

/* Empty. Add your own CSS if you like */
#menuUser {
  color: #4cd964;
}

#loginCitizen {
  background-image: url("../img/banner2.jpg");
  background-repeat: no-repeat;
  .logo {
    opacity: 0.8;
    text-align: center;
    margin-top: 40%;
  }
  form {
    margin: 30px;
    label {
      margin-top: 10px;
      background-color: transparent;
      color: whitesmoke;
      border: 2px solid white;
      input {
        color: whitesmoke;
      }
    }
    p {
      color: whitesmoke;
    }
  }
}

.issueList {
  position: relative;
  .issueListImg {
    height: 90px;
    width: 90px;
    display: block;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
  .iconIssueList {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    border-radius: 3px;
    background-color: #444;
    padding: 0 8px;
    line-height: 1.8;
    .icon {
      font-size: 17px;
      color: white;
    }
  }
  .info {
    display: block;
    margin-left: 110px;
    overflow: hidden;
    h4 {
      font-size: 20px;
    }
    span {
      font-size: 13px;
    }
    p {
      font-size: 17px;
    }
  }

}

//icon color
.iconIssueList {
  .state-created & {
    background-color: $color-created;
  }
  .state-acknowledge & {
    background-color: $color-acknowledge;
  }
  .state-assigned & {
    background-color: $color-assigned;
  }
  .state-in_progress & {
    background-color: $color-in_progress;
  }
  .state-solved & {
    background-color: $color-solved;
  }
  .state-rejected & {
    background-color: $color-rejected;
  }
}

.issueDetails {
  .state-bar {
    height: 65px;
    width: 100%;
    position: relative;
    background-color: #444;
    .iconIssueDetails {
      position: absolute;
      right: 30px;
      top: -20px;
      height: 50px;
      width: 50px;
      text-align: center;
      border-radius: 3px;
      background-color: #444;
      padding-top: 13px;
      border: 1px solid white;
      .icon {
        font-size: 23px;
        color: white;
      }
    }
    .infoCreation {
      color: white;
      padding: 1em;
      p {
        font-size: 1.2em;
        margin-top: -3px;
        margin-bottom: 4px;
      }
    }
  }
  .infoDescriptionDetails {
    padding: 1em;
  }
}

//bar color
.state-bar {
  .state-created & {
    background-color: $color-created;
  }
  .state-acknowledge & {
    background-color: $color-acknowledge;
  }
  .state-assigned & {
    background-color: $color-assigned;
  }
  .state-in_progress & {
    background-color: $color-in_progress;
  }
  .state-solved & {
    background-color: $color-solved;
  }
  .state-rejected & {
    background-color: $color-rejected;
  }
}

//icon color
.state-bar .iconIssueDetails {
  .state-created & {
    background-color: $color-created;
  }
  .state-acknowledge & {
    background-color: $color-acknowledge;
  }
  .state-assigned & {
    background-color: $color-assigned;
  }
  .state-in_progress & {
    background-color: $color-in_progress;
  }
  .state-solved & {
    background-color: $color-solved;
  }
  .state-rejected & {
    background-color: $color-rejected;
  }
}

.myIssueList {
  .state-bar {
    height: 20px;
    width: 100%;
    position: relative;
    background-color: #444;
    .iconIssueList {
      position: absolute;
      right: 30px;
      top: -10px;
      height: 40px;
      width: 40px;
      text-align: center;
      border-radius: 3px;
      background-color: #444;
      padding-top: 10px;
      .icon {
        font-size: 20px;
        color: white;
      }
    }
  }
  .info {
    padding: 10px;
    h4 {
      font-size: 20px;
    }
    span {
      font-size: 13px;
    }
    p {
      font-size: 17px;
    }
  }
}

//bar color
.state-bar {
  .state-created & {
    background-color: $color-created;
  }
  .state-acknowledge & {
    background-color: $color-acknowledge;
  }
  .state-assigned & {
    background-color: $color-assigned;
  }
  .state-in_progress & {
    background-color: $color-in_progress;
  }
  .state-solved & {
    background-color: $color-solved;
  }
  .state-rejected & {
    background-color: $color-rejected;
  }
}

//icon color
.state-bar .iconIssueList {
  .state-created & {
    background-color: $color-created;
  }
  .state-acknowledge & {
    background-color: $color-acknowledge;
  }
  .state-assigned & {
    background-color: $color-assigned;
  }
  .state-in_progress & {
    background-color: $color-in_progress;
  }
  .state-solved & {
    background-color: $color-solved;
  }
  .state-rejected & {
    background-color: $color-rejected;
  }
}




