
/* Empty. Add your own CSS if you like */

.bar h1.title{

font-size:1em;


}

.issue {
 	&>div>*{
		display:inline-block;
		margin-right : 20px;
	}
	.thumbnail{
			width:101px;
			height: auto;
			float:left;
	}
	.issue-description {
		width:70%;
	}
	.issue-state{
		float:right;
		padding : 5px;
		color : $inprogress-color;
		border : 2px $inprogress-color solid;
	}
	.state-solved {
		.issue-state{
			color:$success-color;
			border-color:$success-color;
		}
	}
	.state-rejected{
		.issue-state{
			color:$error-color;
			border-color:$error-color;
		}
	}

}

.bar.bar-positive .title{
  font-family: 'Droid sans', sans-serif;
}
