

.errors-report
{
  color:red;
  padding:10px;
  font-style: italic;

}

#issueCreateForm .main-btn{

  width:96%;
  margin:auto;

}

ion-header-bar.bar-header{


  background-color: #20437e;
  width:100%;
  color:white;

}
