/* Empty. Add your own CSS if you like */
.bar.bar-assertive.bar-footer.bar-footer{
  background: none;
  border:none;
}


/* Accordion List */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.listIssue time{
  float:right;font-size:8pt;
}

.tagsList li{
  display:inline;
  padding-right:5px;
  font-style: italic;
  color:#AAA;
  font-size:10pt;
}
.listIssue h2{
  font-size:20px;
  font-weight:bold;
  margin-bottom:0;
}
.fullImg{
  background-color:black;
}
.fullImg .bar.bar-header{
  background-color:black;
  border:none;
}
.leaflet-control-container{
  display:none;
}
