/* Empty. Add your own CSS if you like */
.bar.bar-assertive.bar-footer.bar-footer{
  background: none;
  border:none;
}


/* Accordion List */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.listIssue .small-info{
  float:right;font-size:8pt;
}
.listIssue .small-info{
  font-weight:normal;
}
.listIssue .small-info time{
  font-weight:bold;
}


.tagsList li{
  display:inline;
  padding-right:5px;
  font-style: italic;
  color:#AAA;
  font-size:10pt;
}
.listIssue h2{
  font-size:20px;
  font-weight:bold;
  margin-bottom:0;
}

.leaflet-control-container{
  display:none;
}
.button-localize{
  position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 5px;
    min-height:0;
    min-width:0;
}

.listIssue h2{
  margin-top:0;
}

p.state::first-letter {
  text-transform: uppercase;
}
p.state{
  padding:5px;
  color:white;
}

p.state-created{background-color:#90D341;}
p.state-acknowledged{background-color:#2C8BD4;}
p.state-assigned{background-color:#666;}
p.state-in_progress{background-color:#FFCB2B;}
p.state-solved{background-color:#BD57A9;}
p.state-rejected{background-color:#FF2328;}


/* full screen image zoom pane */
.fullImg {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  background: black !important;
}

.fullImg .bar.bar-header{
  background-color: black;
  border:none;
  background-image: none;
}

.zoom-pane {
	width: 100% !important;
	height: 100% !important;
}

.zoom-pane .scroll {
	min-height: 100% !important;
  overflow:hidden !important;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.zoom-pane img {
	width: 100% !important;
	vertical-align: middle !important;
}

.home .bar{
  background:none;
  border:none;
}
.disabled{
  display:none;
}
.imgIssueDetails{
  width: 20%;
  position: absolute;
  right: 0px;
  top: 0px;
}
